@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: #31352b;
  background-color: #f9faff;
}

.container {
  width: 1170px;
  margin: auto;
}

.header {
  padding: 60px 0;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__menu {
  margin: 0px 63px 0px auto;
}

.header__buttons {
  display: flex;
  align-items: center;
}

.header__cart {
  margin-left: 22px;
  width: 44px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: relative;
}

.header__cart:after {
  content: '4';
  position: absolute;
  top: 8px;
  right: 3px;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #FF6838;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
}

.header__cart:focus {
  background-color: rgba(255, 122, 80, 0.1);
  box-shadow: 0px 0px 0px 2px #FF7A50;
}

.header__cart:hover {
  background-color: #FF7A50;
}

.header__cart:hover path {
  stroke: #ffffff;
}

.header__cart:hover:after {
  background-color: #ffffff;
  color: #FF7A50;
}

.header__cart:active {
  background-color: rgba(255, 122, 80, 0.1);
  box-shadow: none;
}

.header__cart:active path {
  stroke: #363853;
}

.header__cart:active:after {
  background-color: #FF6838;
  color: #ffffff;
}

.header__menu-button {
  background-color: transparent;
  margin-left: 35px;
  display: none;
}

.logo {
  border-radius: 5px;
}

.logo:focus {
  outline: 2px solid #FF7A50;
}

.logo:hover {
  outline: none;
  opacity: 0.8;
}

.logo:active {
  outline: none;
  opacity: 0.5;
}

.menu {
  width: 301px;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__item {
  font-size: 18px;
  line-height: 21px;
  border-radius: 5px;
}

.menu__link {
  color: #31352b;
  border-radius: 5px;
}

.menu__link:focus {
  outline: 2px solid #FF7A50;
}

.menu__link:hover {
  color: #FF6838;
  outline: none;
}

.menu__link:active {
  text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
  outline: none;
  color: #31352b;
}

.search__input {
  display: none;
}

.search__button {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: transparent;
}

.search__button:focus {
  background-color: rgba(255, 122, 80, 0.1);
  outline: 2px solid #FF7A50;
}

.search__button:hover {
  background-color: #FF7A50;
}

.search__button:hover ellipse, .search__button:hover path {
  stroke: #ffffff;
}

.search__button:active {
  background-color: rgba(255, 122, 80, 0.1);
  outline: none;
}

.search__button:active ellipse, .search__button:active path {
  stroke: #363853;
}

.button {
  display: inline-block;
  background-color: #FF6838;
  padding: 12px 32px;
  border-radius: 6px;
  color: #ffffff;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.03em;
}

.button:focus {
  background-color: rgba(255, 122, 80, 0.1);
  outline: 2px solid #FF7A50;
  color: #FF6838;
}

.button:hover {
  background-color: #ffffff;
  outline: 2px solid #FF7A50;
  color: #FF6838;
}

.button:active {
  background-color: rgba(255, 122, 80, 0.1);
  outline: none;
  color: #FF6838;
}

.more-button {
  font-size: 20px;
  line-height: 150%;
  color: #363853;
  border-radius: 5px;
  display: block;
}

.more-button:focus {
  color: #363853;
  outline: 2px solid #FF7A50;
}

.more-button:hover {
  color: #FF6838;
  outline: none;
}

.more-button:active {
  text-shadow: 2px 2px 5px #363853;
  outline: none;
  color: #363853;
}

.product-card {
  width: 210px;
  min-height: 300px;
  padding: 20px 15px;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #ececec;
}

.product-card__image {
  margin-bottom: 10px;
}

.product-card__title {
  margin-bottom: auto;
  font-size: 15px;
  line-height: 18px;
  color: #31352b;
}

.product-card__price {
  margin: 10px 0px 10px;
  font-weight: 500;
  color: #363853;
  font-size: 15px;
  line-height: 140%;
}

.product-card__button {
  font-size: 14px;
  line-height: 130%;
  padding: 7px 16px;
}

.product-card:hover {
  border: 1px solid #FF6838;
}

.app {
  margin-bottom: 120px;
}

.app__container {
  padding: 40px 0;
  background: url("../images/app-bg.jpg") center right no-repeat;
  background-size: contain;
  position: relative;
}

.app__wrapper {
  width: 540px;
  position: relative;
  z-index: 2;
}

.app__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f9faff;
  opacity: 0.85;
  z-index: 1;
  display: none;
}

.app__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  color: #363853;
  margin-bottom: 45px;
}

.app__text {
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 30px;
}

.app__buttons {
  display: flex;
  align-items: center;
}

.app__button {
  margin-right: 30px;
  background-color: transparent;
  border-radius: 5px;
  overflow: hidden;
}

.app__button:last-child {
  margin: 0;
}

.app__button img {
  height: 40px;
}

.app__button_appstore {
  border-radius: 7px;
}

.app__button:focus {
  outline: 1px solid #FF6838;
}

.footer {
  padding-bottom: 60px;
  border-bottom: 1px solid #ececec;
}

.footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__subscribe {
  width: 200px;
}

.footer__logo {
  display: block;
  margin-bottom: 30px;
}

.footer__input {
  width: 100%;
  padding: 13px 15px;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 12px;
}

.footer__input::placeholder {
  color: #c2c2c2;
}

.footer__input:focus {
  outline: 2px solid #FF6838;
}

.footer__input:hover::placeholder {
  color: #363853;
}

.footer__button {
  display: flex;
  align-items: center;
  padding: 13px 38px;
  font-size: 14px;
  line-height: 130%;
}

.footer__button svg {
  margin-right: 15px;
}

.footer__button:hover path, .footer__button:focus path, .footer__button:active path {
  fill: #FF6838;
}

.footer__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 570px;
}

.footer__link {
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.01em;
  width: 187px;
  margin-bottom: 20px;
}

.footer__link a {
  color: #31352b;
  border-radius: 5px;
}

.footer__link a:focus {
  outline: 2px solid #FF7A50;
}

.footer__link a:hover {
  color: #FF6838;
  outline: none;
}

.footer__link a:active {
  text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
  outline: none;
  color: #31352b;
}

.footer__info {
  font-size: 16px;
  line-height: 32px;
  height: 180px;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__contact-link {
  display: flex;
  align-items: center;
}

.footer__contact-link a {
  color: #31352b;
  margin-left: 7px;
  border-radius: 5px;
}

.footer__contact-link a:focus {
  outline: 2px solid #FF7A50;
}

.footer__contact-link a:hover {
  color: #FF6838;
  outline: none;
}

.footer__contact-link a:active {
  text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
  outline: none;
  color: #31352b;
}

.footer__socials {
  display: flex;
  align-items: center;
}

.footer__social {
  margin-right: 13px;
  width: 39px;
  height: 39px;
  background-color: #ececec;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__social:last-child {
  margin-right: none;
}

.footer__social:focus {
  outline: 2px solid #FF7A50;
  background-color: rgba(255, 122, 80, 0.1);
}

.footer__social:hover {
  outline: none;
  background-color: #FF7A50;
}

.footer__social:hover path {
  fill: #ffffff;
}

.footer__social:active {
  outline: none;
  background-color: rgba(255, 122, 80, 0.1);
}

.footer__social:active path {
  fill: #FF7A50;
}

.copyright {
  padding: 30px 0px;
  text-align: center;
}

.breadcrumbs {
  background-color: rgba(255, 122, 80, 0.1);
  padding: 24px 0px;
  margin-bottom: 60px;
}

.breadcrumbs__container {
  display: flex;
  align-items: center;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #505050;
}

.breadcrumbs__link:hover {
  text-decoration: underline;
}

.breadcrumbs__link:focus {
  text-decoration: underline;
}

.breadcrumbs__sep {
  margin: 0px 5px;
}

.breadcrumbs__sep svg {
  transform: rotate(180deg);
  height: 10px;
}

.breadcrumbs__sep svg path {
  fill: #c1c1c1;
}

.checkbox {
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.03em;
}

.checkbox__label {
  display: inline-flex;
  align-items: center;
}

.checkbox__input:focus + .checkbox__fake {
  border: 1px solid #FF6838;
}

.checkbox__label:hover .checkbox__fake {
  border: 1px solid #FF6838;
}

.checkbox__label:hover .checkbox__text {
  color: #FF6838;
}

.checkbox__input {
  width: 0px;
  height: 0px;
}

.checkbox__input:checked + .checkbox__fake:before {
  opacity: 1;
}

.checkbox__input:checked + .checkbox__fake {
  border: 1px solid #363853;
}

.checkbox__fake {
  display: block;
  margin-right: 12px;
  width: 24px;
  height: 24px;
  border: 1px solid #ececec;
  border-radius: 3px;
  background-color: rgba(255, 122, 80, 0.1);
  position: relative;
}

.checkbox__fake:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 12px;
  height: 8.5px;
  background: url(../images/checked.svg) 0 0 no-repeat;
  opacity: 0;
}

.slider-button {
  width: 34px;
  height: 34px;
  border: 3px solid #c2c2c2;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-button svg {
  margin-left: -2.5px;
}

.slider-button_next {
  transform: rotate(180deg);
}

.slider-button:focus {
  outline: 2px solid #FF7A50;
}

.slider-button:focus:hover {
  outline: none;
}

.slider-button:hover {
  background-color: rgba(255, 122, 80, 0.1);
  border-color: #FF7A50;
}

.slider-button:hover path {
  fill: #FF7A50;
}

.slider-button:active {
  background-color: rgba(255, 122, 80, 0.1);
  border: none;
  outline: none;
}

.slider-button:active path {
  fill: #FF7A50;
}

.hero {
  height: calc(100vh - 164px);
  margin-bottom: 120px;
}

.hero__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../images/scooter-guy.png) right center no-repeat;
  background-size: contain;
  position: relative;
}

.hero__wrapper {
  width: 450px;
  position: relative;
  z-index: 2;
}

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f9faff;
  opacity: 0.85;
  z-index: 1;
  display: none;
}

.hero__title {
  font-weight: 500;
  font-size: 66px;
  line-height: 130%;
  text-transform: uppercase;
  color: #363853;
  margin-bottom: 20px;
}

.hero__title span {
  color: #FF6838;
}

.hero__subtitle {
  font-size: 20px;
  line-height: 150%;
  color: #31352b;
  margin-bottom: 20px;
}

.hero__buttons {
  display: flex;
  align-items: center;
}

.hero__more-button {
  margin-left: 34px;
}

.popular {
  margin-bottom: 120px;
}

.popular__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  color: #363853;
  text-align: center;
  margin-bottom: 60px;
}

.popular__tabs {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

.popular__tab {
  margin-right: 20px;
}

.popular__tab:last-child {
  margin-right: 0;
}

.popular__product-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.popular__product-card {
  margin-bottom: 30px;
}

.popular__more-button {
  background-color: transparent;
  margin: 0 auto;
}

.tab {
  padding: 13px 32px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  outline: 1px solid #ececec;
  box-sizing: border-box;
  color: #363853;
}

.tab__text {
  margin-left: 10px;
  font-size: 20px;
  line-height: 130%;
  white-space: nowrap;
}

.tab path {
  fill: #363853;
}

.tab:focus {
  outline: 2px solid #FF7A50;
  color: #363853;
}

.tab:hover {
  outline: 2px solid #FF7A50;
  color: #FF6838;
}

.tab:hover path {
  fill: #FF6838;
}

.tab:active {
  box-shadow: inset 0px -5px 12px rgba(255, 104, 56, 0.2);
  color: #363853;
  outline: none;
}

.tab:active path {
  fill: #363853;
}

.delivery {
  margin-bottom: 120px;
}

.delivery__container {
  width: 1030px;
  background: url("../images/food-delivery.png") 0 0 no-repeat;
  background-size: contain;
  padding: 55px 0;
  position: relative;
}

.delivery__wrapper {
  width: 470px;
  margin-left: auto;
  position: relative;
  z-index: 2;
}

.delivery__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f9faff;
  opacity: 0.85;
  z-index: 1;
  display: none;
}

.delivery__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  color: #363853;
  margin-bottom: 30px;
}

.delivery__subtitle {
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 30px;
}

.delivery__advantages {
  margin-bottom: 30px;
}

.delivery__advantage:last-child {
  margin: 0;
}

.advantage {
  font-size: 24px;
  line-height: 150%;
  color: #363853;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.advantage__text {
  margin-left: 30px;
}

.best-restaurants {
  margin-bottom: 120px;
}

.best-restaurants__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  color: #363853;
  margin-bottom: 45px;
  text-align: center;
}

.best-restaurants__restaurants {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.best-restaurants__restaurant-card {
  margin-bottom: 30px;
}

.restaurant-card {
  width: 370px;
  background: #FFFFFF;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.restaurant-card__image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.restaurant-card__title {
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 20px;
}

.restaurant-card__text {
  padding: 20px 15px 20px;
}

.restaurant-card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.restaurant-card__work-time {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  padding-left: 32px;
  position: relative;
}

.restaurant-card__work-time:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 22px;
  height: 22px;
  background-image: url("../images/work-time-icon.png");
}

.restaurant-card__button {
  background-color: #FF6838;
  padding: 10px 32px 9px;
  border-radius: 20px;
  border: 2px solid #FF6838;
  transition: padding 0.3s;
  display: block;
}

.restaurant-card__button:focus {
  border: 2px solid #FF7A50;
  background-color: rgba(255, 122, 80, 0.1);
}

.restaurant-card__button:focus path {
  fill: #FF6838;
}

.restaurant-card__button:hover {
  border: 2px solid #FF7A50;
  background-color: #ffffff;
  padding-right: 12px;
  padding-left: 52px;
}

.restaurant-card__button:hover path {
  fill: #FF6838;
}

.restaurant-card__button:active {
  background-color: rgba(255, 122, 80, 0.1);
  border-color: transparent;
}

.restaurant-card:hover {
  box-shadow: 0px 3px 15px rgba(255, 104, 56, 0.5);
}

.reviews {
  margin-bottom: 120px;
}

.reviews__container {
  width: 990px;
}

.reviews__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  color: #363853;
  margin-bottom: 45px;
  text-align: center;
}

.reviews__content {
  margin-bottom: 50px;
}

.reviews__pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  margin: 0 auto;
}

.reviews__bullets {
  display: flex;
  align-items: center;
}

.reviews__bullet {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #c2c2c2;
  margin-right: 15px;
}

.reviews__bullet:last-child {
  margin-right: 0;
}

.reviews__bullet_active {
  background-color: #FF6838;
}

.reviews__bullet:focus {
  outline: 2px solid #FF7A50;
}

.reviews__bullet:hover {
  outline: 2px solid #FF7A50;
  background-color: rgba(255, 122, 80, 0.1);
}

.reviews__bullet:active {
  outline: none;
  background-color: #FF7A50;
}

.review {
  display: none;
  align-items: center;
}

.review_active {
  display: flex;
}

.review__image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-right: 80px;
}

.review__text {
  width: 570px;
}

.review__quote {
  font-style: italic;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 30px;
  position: relative;
}

.review__quote:before {
  content: '';
  width: 24px;
  height: 20px;
  background-image: url(../images/quote.svg);
  position: absolute;
  top: 0;
  left: -40px;
}

.review__quote:after {
  content: '';
  width: 24px;
  height: 20px;
  background-image: url(../images/quote.svg);
  position: absolute;
  bottom: 0;
  right: -40px;
  transform: scaleX(-1);
}

.review__username {
  font-size: 20px;
  line-height: 130%;
  color: #FF6838;
  margin-bottom: 15px;
}

.review__userstatus {
  font-size: 14px;
  line-height: 130%;
}

.promo {
  margin-bottom: 120px;
}

.promo__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  color: #363853;
  margin-bottom: 60px;
}

.promo__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.promo-card {
  width: 370px;
  background-color: #ffffff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  color: #31352b;
}

.promo-card__image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.promo-card__text {
  padding: 15px 20px;
  font-size: 24px;
  line-height: 130%;
}

.promo-card:focus {
  box-shadow: 0px 3px 15px rgba(255, 104, 56, 0.5);
}

.promo-card:hover {
  box-shadow: 0px 3px 15px rgba(255, 104, 56, 0.5);
}

.catalog {
  margin-bottom: 120px;
}

.catalog__header {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.catalog__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  color: #363853;
  margin-right: auto;
}

.catalog__filter {
  margin-right: 15px;
}

.catalog__filter:last-child {
  margin-right: 0;
}

.catalog__filter-button {
  width: 49px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 122, 80, 0.1);
  border-radius: 3px;
  margin-right: 15px;
  display: none;
}

.catalog__filter-button svg {
  height: 36px;
}

.catalog__filter-button:hover {
  border: 1px solid #FF6838;
}

.catalog__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.catalog__sidebar {
  width: 271px;
}

.catalog__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__categories {
  background-color: #ffffff;
  border: 1px solid #ececec;
  border-radius: 5px;
  margin-bottom: 30px;
}

.catalog__side-title {
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #363853;
  padding: 15px;
  border-bottom: 1px solid #ececec;
}

.catalog__list {
  padding: 25px 15px;
}

.catalog__link {
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.catalog__link:last-child {
  margin-bottom: 0;
}

.catalog__link a {
  color: #31352b;
  border-radius: 5px;
}

.catalog__link a:focus {
  outline: 2px solid #FF7A50;
  color: #31352b;
}

.catalog__link a:hover {
  outline: none;
  color: #FF6838;
}

.catalog__link a:active {
  outline: none;
  color: #31352b;
  text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
}

.catalog__offers {
  background-color: #ffffff;
  border: 1px solid #ececec;
  border-radius: 5px;
  margin-bottom: 30px;
}

.catalog__checkboxes {
  padding: 25px 15px;
}

.catalog__checkbox {
  margin-bottom: 12px;
}

.catalog__price {
  background-color: #ffffff;
  border: 1px solid #ececec;
  border-radius: 5px;
}

.catalog__price-select {
  padding: 25px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog__input {
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #c2c2c2;
}

.catalog__input input {
  width: 70px;
  height: 40px;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.03em;
  background-color: rgba(255, 122, 80, 0.1);
  border: 1px solid #ececec;
  border-radius: 3px;
  padding: 12px 2px 12px 12px;
  text-align: center;
}

.catalog__input input:focus {
  border: 1px solid #FF6838;
}

.catalog__product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 870px;
  margin-bottom: 60px;
}

.catalog__product-card {
  margin-bottom: 10px;
}

.pagination {
  display: flex;
  align-items: center;
}

.pagination__button {
  width: 48px;
  height: 48px;
  background-color: rgba(255, 122, 80, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.pagination__button svg {
  height: 18px;
}

.pagination__button_prev {
  margin-right: 6px;
}

.pagination__button_next {
  transform: rotate(180deg);
  margin-left: 6px;
}

.pagination__button:focus {
  outline: 2px solid #FF6838;
}

.pagination__button:hover {
  background-color: #FF6838;
}

.pagination__button:hover path {
  fill: #ffffff;
}

.pagination__button:active {
  box-shadow: inset 0px -1px 4px 2px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 122, 80, 0.1);
  outline: none;
}

.pagination__button:active path {
  fill: #363853;
}

.pagination__button:disabled {
  cursor: not-allowed;
}

.pagination__button:disabled path {
  fill: #c2c2c2;
}

.pagination__button:disabled:focus {
  outline: none;
}

.pagination__button:disabled:hover {
  background-color: rgba(255, 122, 80, 0.1);
}

.pagination__button:disabled:hover path {
  fill: #c2c2c2;
}

.pagination__button:disabled:active {
  box-shadow: none;
  background-color: rgba(255, 122, 80, 0.1);
  outline: none;
}

.pagination__button:disabled:active path {
  fill: #c2c2c2;
}

.pagination__pages {
  display: flex;
  align-items: center;
}

.pagination__page {
  width: 48px;
  height: 48px;
  background-color: rgba(255, 122, 80, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin-right: 6px;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #363853;
}

.pagination__page:last-child {
  margin-right: 0;
}

.pagination__page:focus {
  outline: 2px solid #FF6838;
}

.pagination__page:hover {
  background-color: #FF6838;
  color: #ffffff;
}

.pagination__page:active {
  box-shadow: inset 0px -1px 4px 2px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 122, 80, 0.1);
  color: #363853;
  outline: none;
}

.filter {
  padding: 15px 40px 15px 15px;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.03em;
  appearance: none;
  background: url(../images/select.svg) calc(100% - 15px) center no-repeat;
  background-color: #ffffff;
}

.filter:focus {
  border-color: #FF6838;
}

.filter:hover {
  border-color: #FF6838;
  color: #FF6838;
}

.interesting {
  margin-bottom: 120px;
}

.interesting__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.interesting__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  color: #363853;
}

.interesting__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 93px;
}

.interesting__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product {
  padding-bottom: 60px;
  border-bottom: 1px solid #ececec;
  margin-bottom: 30px;
}

.product__container {
  display: flex;
  justify-content: space-between;
}

.product__slider {
  padding: 75px 105px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ececec;
  position: relative;
}

.product__image {
  width: 400px;
  height: 400px;
}

.product__navigation {
  width: 560px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__slider-button {
  background-color: transparent;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__slider-button_next {
  transform: rotate(180deg);
}

.product__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  color: #363853;
  margin-bottom: 30px;
}

.product__rating {
  width: 104px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.product__star_unset {
  opacity: 0.3;
}

.product__star_unset path {
  fill: #c1c1c1;
}

.product__price {
  font-weight: 500;
  font-size: 25px;
  line-height: 140%;
  color: #363853;
  margin-bottom: 20px;
}

.product__buttons {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.product__counter {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.product__amount {
  width: 70px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #363853;
  background-color: rgba(255, 122, 80, 0.1);
}

.product__change-amount-button {
  padding: 0px;
  font-size: 40px;
  font-weight: 300;
  line-height: 100%;
  width: 44px;
  height: 44px;
  border-radius: 3px 0px 0px 3px;
}

.product__change-amount-button_inc {
  border-radius: 0px 3px 3px 0px;
}

.product__add-button {
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 13px 38px;
  font-size: 14px;
  line-height: 130%;
}

.product__add-button svg {
  margin-right: 15px;
}

.product__add-button:hover path, .product__add-button:focus path, .product__add-button:active path {
  stroke: #FF6838;
}

.product__delivery-title {
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.03em;
  padding-bottom: 15px;
  border-bottom: 1px solid #ececec;
  margin-bottom: 20px;
}

.product__delivery-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #505050;
  margin-bottom: 20px;
}

.info {
  margin-bottom: 120px;
}

.info__container {
  width: 690px;
}

.info__tabs {
  margin-bottom: 30px;
}

.info__tab {
  font-size: 24px;
  line-height: 150%;
  color: #363853;
  margin-right: 60px;
  background-color: transparent;
  border-radius: 5px;
}

.info__tab:focus {
  outline: 2px solid #FF7A50;
}

.info__tab:hover {
  color: #FF6838;
  outline: none;
}

.info__tab:active {
  text-shadow: 2px 2px 5px #363853;
  outline: none;
  color: #363853;
}

.info__tab:last-child {
  margin-right: 0;
}

.info__tab_active {
  color: #FF6838;
}

.info__tab-content {
  font-size: 20px;
  line-height: 150%;
  opacity: 0.9;
  display: none;
}

.info__tab-content_active {
  display: block;
}

.info__tab-content p {
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  .container {
    width: 900px;
  }
  .popular__tabs {
    overflow: scroll;
    padding: 1px;
  }
  .popular__product-cards {
    justify-content: center;
    margin: 0px -10px;
  }
  .popular__product-card {
    margin: 0px 10px 20px;
  }
  .delivery__container {
    padding: 0;
    background-size: 39%;
    background-position: center left;
  }
  .best-restaurants__restaurants {
    justify-content: space-around;
  }
  .review {
    justify-content: space-between;
  }
  .review__text {
    width: 500px;
  }
  .app__container {
    background-size: 40%;
  }
  .footer__menu {
    width: 400px;
  }
  .footer__link {
    font-size: 16px;
    width: 175px;
  }
  .catalog__body {
    justify-content: flex-start;
  }
  .catalog__sidebar {
    margin-right: 30px;
    width: 220px;
  }
  .catalog__product-list {
    width: 650px;
  }
  .catalog__price-select {
    flex-wrap: wrap;
  }
  .catalog__input:first-child {
    margin-bottom: 15px;
  }
  .promo__cards {
    align-items: stretch;
  }
  .promo-card {
    width: 280px;
  }
  .promo-card__image {
    height: 230px;
  }
  .product__title {
    font-size: 30px;
  }
  .product__container {
    align-items: flex-start;
  }
  .product__slider {
    padding: 60px 80px;
    margin-right: 30px;
  }
  .product__image {
    width: 250px;
    height: 250px;
  }
  .product__navigation {
    width: 380px;
  }
  .interesting__product-card:last-child {
    display: none;
  }
}

@media (max-width: 992px) {
  .container {
    width: 700px;
  }
  .header {
    padding: 50px 0;
  }
  .header__container {
    justify-content: space-between;
  }
  .header__menu {
    margin: 0;
  }
  .header__cart {
    margin-left: 15px;
  }
  .menu {
    width: 280px;
  }
  .menu__link {
    font-size: 16px;
    line-height: 18px;
  }
  .hero__overlay {
    display: block;
  }
  .popular__product-cards {
    margin: 0px -17.5px;
  }
  .popular__product-card {
    margin: 0px 17.5px 30px;
  }
  .delivery__container {
    background-size: contain;
    background-position: right center;
  }
  .delivery__wrapper {
    margin: 0;
  }
  .delivery__overlay {
    display: block;
  }
  .best-restaurants__restaurants {
    justify-content: space-between;
  }
  .restaurant-card {
    width: 335px;
  }
  .restaurant-card__image {
    height: 230px;
  }
  .review {
    flex-direction: column;
  }
  .review__image {
    margin: 0 0 30px;
    width: 250px;
    height: 250px;
  }
  .review__text {
    width: 90%;
  }
  .app__container {
    background-size: cover;
    padding: 40px;
  }
  .app__overlay {
    display: block;
  }
  .footer__container {
    flex-wrap: wrap;
  }
  .footer__subscribe {
    order: 1;
    margin-right: 50px;
  }
  .footer__menu {
    order: 3;
    width: 100%;
    margin-top: 50px;
  }
  .footer__info {
    order: 2;
  }
  .footer__link {
    width: 180px;
  }
  .catalog__body {
    justify-content: space-between;
  }
  .catalog__product-list {
    width: 430px;
    margin-bottom: 45px;
  }
  .catalog__product-card:nth-child(7), .catalog__product-card:nth-child(8), .catalog__product-card:nth-child(9), .catalog__product-card:nth-child(10), .catalog__product-card:nth-child(11), .catalog__product-card:nth-child(12) {
    display: none;
  }
  .promo-card {
    width: 220px;
  }
  .promo-card__image {
    height: 170px;
  }
  .promo-card__text {
    font-size: 20px;
    padding: 15px;
  }
  .product__slider {
    padding: 48px 64px;
  }
  .product__image {
    width: 200px;
    height: 200px;
  }
  .product__navigation {
    width: 320px;
  }
  .product__title {
    margin-bottom: 20px;
  }
  .product__rating {
    margin-bottom: 20px;
  }
  .product__buttons {
    flex-wrap: wrap;
  }
  .product__add-button {
    white-space: nowrap;
    margin-top: 15px;
  }
  .interesting__product-card:nth-child(4) {
    display: none;
  }
}

@media (max-width: 767px) {
  .container {
    width: 90%;
  }
  .header {
    padding: 40px 0;
  }
  .header__menu-button {
    display: block;
  }
  .menu {
    display: none;
  }
  .hero {
    margin-bottom: 80px;
  }
  .hero__container {
    background-position: center;
  }
  .hero__wrapper {
    width: 100%;
  }
  .popular {
    margin-bottom: 80px;
  }
  .popular__title {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .popular__product-cards {
    margin: 0px -2.5px;
  }
  .popular__product-card {
    margin: 0px 2.5px 10px;
  }
  .popular__more-button {
    margin-top: 30px;
  }
  .delivery {
    margin-bottom: 80px;
  }
  .delivery__title {
    font-size: 30px;
  }
  .delivery__wrapper {
    width: 100%;
  }
  .delivery__container {
    background-position: center;
  }
  .best-restaurants {
    margin-bottom: 80px;
  }
  .best-restaurants__title {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .best-restaurants__restaurants {
    justify-content: space-around;
  }
  .restaurant-card {
    width: 250px;
  }
  .restaurant-card__image {
    height: 200px;
  }
  .restaurant-card__work-time {
    padding-left: 30px;
  }
  .restaurant-card__button {
    padding: 9px 24px 8px;
  }
  .restaurant-card__button:hover {
    padding-right: 12px;
    padding-left: 36px;
  }
  .reviews {
    margin-bottom: 80px;
  }
  .reviews__title {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .app {
    margin-bottom: 80px;
  }
  .app__container {
    padding: 35px;
  }
  .app__wrapper {
    width: 100%;
  }
  .app__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .app__text {
    margin-bottom: 20px;
  }
  .promo__cards {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .promo__promo-card:last-child {
    margin-top: 30px;
  }
  .product-card {
    width: 170px;
  }
  .footer {
    padding-bottom: 40px;
  }
  .breadcrumbs {
    margin-bottom: 40px;
  }
  .catalog {
    margin-bottom: 80px;
  }
  .catalog__header {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .catalog__title {
    font-size: 30px;
    width: 100%;
    margin-bottom: 20px;
  }
  .catalog__filter-button {
    display: block;
  }
  .catalog__sidebar {
    display: none;
  }
  .catalog__main {
    width: 100%;
  }
  .catalog__product-list {
    width: 100%;
    margin-bottom: 35px;
  }
  .promo {
    margin-bottom: 80px;
  }
  .promo__title {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .product__slider {
    padding: 22.5px;
    margin-bottom: 40px;
  }
  .product__image {
    width: 300px;
    height: 300px;
  }
  .product__navigation {
    width: 500px;
  }
  .product__container {
    flex-direction: column;
    align-items: center;
  }
  .product__add-button {
    margin: 0;
  }
  .info {
    margin-bottom: 80px;
  }
  .interesting {
    margin-bottom: 80px;
  }
  .interesting__title {
    font-size: 30px;
  }
  .interesting__header {
    margin-bottom: 40px;
  }
  .interesting__buttons {
    width: 80px;
  }
}
