@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: #31352b;
  background-color: #f9faff;
}

.container {
  width: 1170px;
  margin: auto;
}

.header {
  padding: 60px 0;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__menu {
  margin: 0px 63px 0px auto;
}

.header__buttons {
  display: flex;
  align-items: center;
}

.header__cart {
  margin-left: 22px;
  width: 44px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.header__cart:focus {
  background-color: rgba(255, 122, 80, 0.1);
  box-shadow: 0px 0px 0px 2px #FF7A50;
}

.header__cart:hover {
  background-color: #FF7A50;
}

.header__cart:hover path {
  stroke: #ffffff;
}

.header__cart:active {
  background-color: rgba(255, 122, 80, 0.1);
  box-shadow: none;
}

.header__cart:active path {
  stroke: #363853;
}

.logo {
  border-radius: 5px;
}

.logo:focus {
  outline: 2px solid #FF7A50;
}

.logo:hover {
  outline: none;
  opacity: 0.8;
}

.logo:active {
  outline: none;
  opacity: 0.5;
}

.menu {
  width: 301px;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__item {
  font-size: 18px;
  line-height: 21px;
  border-radius: 5px;
}

.menu__link {
  color: #31352b;
  border-radius: 5px;
}

.menu__link:focus {
  outline: 2px solid #FF7A50;
}

.menu__link:hover {
  color: #FF6838;
  outline: none;
}

.menu__link:active {
  text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
  outline: none;
  color: #31352b;
}

.search__input {
  display: none;
}

.search__button {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: transparent;
}

.search__button:focus {
  background-color: rgba(255, 122, 80, 0.1);
  outline: 2px solid #FF7A50;
}

.search__button:hover {
  background-color: #FF7A50;
}

.search__button:hover ellipse, .search__button:hover path {
  stroke: #ffffff;
}

.search__button:active {
  background-color: rgba(255, 122, 80, 0.1);
  outline: none;
}

.search__button:active ellipse, .search__button:active path {
  stroke: #363853;
}

.button {
  display: inline-block;
  background-color: #FF6838;
  padding: 12px 32px;
  border-radius: 6px;
  color: #ffffff;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.03em;
}

.button:focus {
  background-color: rgba(255, 122, 80, 0.1);
  outline: 2px solid #FF7A50;
  color: #FF6838;
}

.button:hover {
  background-color: #ffffff;
  outline: 2px solid #FF7A50;
  color: #FF6838;
}

.button:active {
  background-color: rgba(255, 122, 80, 0.1);
  outline: none;
  color: #FF6838;
}

.more-button {
  font-size: 20px;
  line-height: 150%;
  color: #363853;
  border-radius: 5px;
  display: block;
}

.more-button:focus {
  color: #363853;
  outline: 2px solid #FF7A50;
}

.more-button:hover {
  color: #FF6838;
  outline: none;
}

.more-button:active {
  text-shadow: 2px 2px 5px #363853;
  outline: none;
  color: #363853;
}

.product-card {
  width: 210px;
  min-height: 300px;
  padding: 20px 15px;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #ececec;
}

.product-card__image {
  margin-bottom: 10px;
}

.product-card__title {
  margin-bottom: auto;
  font-size: 15px;
  line-height: 18px;
  color: #31352b;
}

.product-card__price {
  margin: 10px 0px 10px;
  font-weight: 500;
  color: #363853;
  font-size: 15px;
  line-height: 140%;
}

.product-card__button {
  font-size: 14px;
  line-height: 130%;
  padding: 7px 16px;
}

.product-card:hover {
  border: 1px solid #FF6838;
}

.app {
  margin-bottom: 120px;
}

.app__container {
  padding: 40px 0;
  background: url("../images/app-bg.jpg") center right no-repeat;
  background-size: contain;
}

.app__wrapper {
  width: 540px;
}

.app__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  color: #363853;
  margin-bottom: 45px;
}

.app__text {
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 30px;
}

.app__buttons {
  display: flex;
  align-items: center;
}

.app__button {
  margin-right: 30px;
  background-color: transparent;
  border-radius: 5px;
  overflow: hidden;
}

.app__button:last-child {
  margin: 0;
}

.app__button img {
  height: 40px;
}

.app__button_appstore {
  border-radius: 7px;
}

.footer {
  padding-bottom: 60px;
  border-bottom: 1px solid #ececec;
}

.footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__subscribe {
  width: 200px;
}

.footer__logo {
  display: block;
  margin-bottom: 30px;
}

.footer__input {
  width: 100%;
  padding: 13px 15px;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 12px;
}

.footer__input::placeholder {
  color: #c2c2c2;
}

.footer__input:focus {
  outline: 2px solid #FF6838;
}

.footer__input:hover::placeholder {
  color: #363853;
}

.footer__button {
  display: flex;
  align-items: center;
  padding: 13px 38px;
  font-size: 14px;
  line-height: 130%;
}

.footer__button svg {
  margin-right: 15px;
}

.footer__button:hover path, .footer__button:focus path, .footer__button:active path {
  fill: #FF6838;
}

.footer__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 570px;
}

.footer__link {
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.01em;
  width: 187px;
  margin-bottom: 20px;
}

.footer__link a {
  color: #31352b;
  border-radius: 5px;
}

.footer__link a:focus {
  outline: 2px solid #FF7A50;
}

.footer__link a:hover {
  color: #FF6838;
  outline: none;
}

.footer__link a:active {
  text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
  outline: none;
  color: #31352b;
}

.footer__info {
  font-size: 16px;
  line-height: 32px;
  height: 180px;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__contact-link {
  display: flex;
  align-items: center;
}

.footer__contact-link a {
  color: #31352b;
  margin-left: 7px;
  border-radius: 5px;
}

.footer__contact-link a:focus {
  outline: 2px solid #FF7A50;
}

.footer__contact-link a:hover {
  color: #FF6838;
  outline: none;
}

.footer__contact-link a:active {
  text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
  outline: none;
  color: #31352b;
}

.footer__socials {
  display: flex;
  align-items: center;
}

.footer__social {
  margin-right: 13px;
  width: 39px;
  height: 39px;
  background-color: #ececec;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__social:last-child {
  margin-right: none;
}

.footer__social:focus {
  outline: 2px solid #FF7A50;
  background-color: rgba(255, 122, 80, 0.1);
}

.footer__social:hover {
  outline: none;
  background-color: #FF7A50;
}

.footer__social:hover path {
  fill: #ffffff;
}

.footer__social:active {
  outline: none;
  background-color: rgba(255, 122, 80, 0.1);
}

.footer__social:active path {
  fill: #FF7A50;
}

.copywrite {
  padding: 30px 0px;
  text-align: center;
}

.breadcrumbs {
  background-color: rgba(255, 122, 80, 0.1);
  padding: 24px 0px;
  margin-bottom: 60px;
}

.breadcrumbs__container {
  display: flex;
  align-items: center;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #505050;
}

.breadcrumbs__link:hover {
  text-decoration: underline;
}

.breadcrumbs__sep {
  margin: 0px 5px;
}

.breadcrumbs__sep svg {
  transform: rotate(180deg);
  height: 10px;
}

.breadcrumbs__sep svg path {
  fill: #c1c1c1;
}

.hero {
  height: calc(100vh - 164px);
  margin-bottom: 120px;
}

.hero__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../images/scooter-guy.png) right center no-repeat;
  background-size: contain;
}

.hero__wrapper {
  width: 450px;
}

.hero__title {
  font-weight: 500;
  font-size: 66px;
  line-height: 130%;
  text-transform: uppercase;
  color: #363853;
  margin-bottom: 20px;
}

.hero__title span {
  color: #FF6838;
}

.hero__subtitle {
  font-size: 20px;
  line-height: 150%;
  color: #31352b;
  margin-bottom: 20px;
}

.hero__buttons {
  display: flex;
  align-items: center;
}

.hero__more-button {
  margin-left: 34px;
}

.popular {
  margin-bottom: 120px;
}

.popular__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  color: #363853;
  text-align: center;
  margin-bottom: 60px;
}

.popular__tabs {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

.popular__tab {
  margin-right: 20px;
}

.popular__tab:last-child {
  margin-right: 0;
}

.popular__product-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.popular__product-card {
  margin-bottom: 30px;
}

.popular__more-button {
  background-color: transparent;
  margin: 0 auto;
}

.tab {
  padding: 13px 32px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  outline: 1px solid #ececec;
  box-sizing: border-box;
  color: #363853;
}

.tab__text {
  margin-left: 10px;
  font-size: 20px;
  line-height: 130%;
}

.tab path {
  fill: #363853;
}

.tab:focus {
  outline: 2px solid #FF7A50;
  color: #363853;
}

.tab:hover {
  outline: 2px solid #FF7A50;
  color: #FF6838;
}

.tab:hover path {
  fill: #FF6838;
}

.tab:active {
  box-shadow: inset 0px -5px 12px rgba(255, 104, 56, 0.2);
  color: #363853;
  outline: none;
}

.tab:active path {
  fill: #363853;
}

.delivery {
  margin-bottom: 120px;
}

.delivery__container {
  width: 1030px;
  background: url("../images/food-delivery.png") 0 0 no-repeat;
  background-size: contain;
  padding: 55px 0;
}

.delivery__wrapper {
  width: 470px;
  margin-left: auto;
}

.delivery__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  color: #363853;
  margin-bottom: 30px;
}

.delivery__subtitle {
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 30px;
}

.delivery__advantages {
  margin-bottom: 30px;
}

.delivery__advantage:last-child {
  margin: 0;
}

.advantage {
  font-size: 24px;
  line-height: 150%;
  color: #363853;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.advantage__text {
  margin-left: 30px;
}

.best-restaurants {
  margin-bottom: 120px;
}

.best-restaurants__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  color: #363853;
  margin-bottom: 45px;
  text-align: center;
}

.best-restaurants__restaurants {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.best-restaurants__restaurant-card {
  margin-bottom: 30px;
}

.restaurant-card {
  width: 370px;
  background: #FFFFFF;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.restaurant-card__image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.restaurant-card__title {
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 20px;
}

.restaurant-card__text {
  padding: 20px 15px 20px;
}

.restaurant-card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.restaurant-card__work-time {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  padding-left: 32px;
  position: relative;
}

.restaurant-card__work-time:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 22px;
  height: 22px;
  background-image: url("../images/work-time-icon.png");
}

.restaurant-card__button {
  background-color: #FF6838;
  padding: 10px 32px 9px;
  border-radius: 20px;
  border: 2px solid #FF6838;
  transition: padding 0.3s;
  display: block;
}

.restaurant-card__button:focus {
  border: 2px solid #FF7A50;
  background-color: rgba(255, 122, 80, 0.1);
}

.restaurant-card__button:focus path {
  fill: #FF6838;
}

.restaurant-card__button:hover {
  border: 2px solid #FF7A50;
  background-color: #ffffff;
  padding-right: 12px;
  padding-left: 52px;
}

.restaurant-card__button:hover path {
  fill: #FF6838;
}

.restaurant-card__button:active {
  background-color: rgba(255, 122, 80, 0.1);
  border-color: transparent;
}

.restaurant-card:hover {
  box-shadow: 0px 3px 15px rgba(255, 104, 56, 0.5);
}

.reviews {
  margin-bottom: 120px;
}

.reviews__container {
  width: 990px;
}

.reviews__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  color: #363853;
  margin-bottom: 45px;
  text-align: center;
}

.reviews__content {
  margin-bottom: 50px;
}

.reviews__pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  margin: 0 auto;
}

.reviews__bullets {
  display: flex;
  align-items: center;
}

.reviews__bullet {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #c2c2c2;
  margin-right: 15px;
}

.reviews__bullet:last-child {
  margin-right: 0;
}

.reviews__bullet_active {
  background-color: #FF6838;
}

.reviews__bullet:focus {
  outline: 2px solid #FF7A50;
}

.reviews__bullet:hover {
  outline: 2px solid #FF7A50;
  background-color: rgba(255, 122, 80, 0.1);
}

.reviews__bullet:active {
  outline: none;
  background-color: #FF7A50;
}

.reviews__button {
  width: 34px;
  height: 34px;
  border: 3px solid #c2c2c2;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews__button svg {
  margin-left: -2.5px;
}

.reviews__button_next {
  transform: rotate(180deg);
}

.reviews__button:focus {
  outline: 2px solid #FF7A50;
}

.reviews__button:focus:hover {
  outline: none;
}

.reviews__button:hover {
  background-color: rgba(255, 122, 80, 0.1);
  border-color: #FF7A50;
}

.reviews__button:hover path {
  fill: #FF7A50;
}

.reviews__button:active {
  background-color: rgba(255, 122, 80, 0.1);
  border: none;
  outline: none;
}

.reviews__button:active path {
  fill: #FF7A50;
}

.review {
  display: none;
  align-items: center;
}

.review_active {
  display: flex;
}

.review__image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-right: 80px;
}

.review__text {
  width: 570px;
}

.review__quote {
  font-style: italic;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 30px;
  position: relative;
}

.review__quote:before {
  content: '';
  width: 24px;
  height: 20px;
  background-image: url(../images/quote.svg);
  position: absolute;
  top: 0;
  left: -40px;
}

.review__quote:after {
  content: '';
  width: 24px;
  height: 20px;
  background-image: url(../images/quote.svg);
  position: absolute;
  bottom: 0;
  right: -40px;
  transform: scaleX(-1);
}

.review__username {
  font-size: 20px;
  line-height: 130%;
  color: #FF6838;
  margin-bottom: 15px;
}

.review__userstatus {
  font-size: 14px;
  line-height: 130%;
}

.promo {
  margin-bottom: 120px;
}

.promo__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  color: #363853;
  margin-bottom: 60px;
}

.promo__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.promo-card {
  width: 370px;
  background-color: #ffffff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  color: #31352b;
}

.promo-card__image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.promo-card__text {
  padding: 15px 20px;
  font-size: 24px;
  line-height: 130%;
}

.promo-card:hover {
  box-shadow: 0px 3px 15px rgba(255, 104, 56, 0.5);
}

.catalog {
  margin-bottom: 120px;
}

.catalog__header {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.catalog__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  color: #363853;
  margin-right: auto;
}

.catalog__filter {
  margin-right: 15px;
}

.catalog__filter:last-child {
  margin-right: 0;
}

.filter {
  padding: 15px 40px 15px 15px;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.03em;
  appearance: none;
  background: url(../images/select.svg) calc(100% - 15px) center no-repeat;
  background-color: #ffffff;
}
