@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: #31352b;
  background-color: #f9faff;
}

.container {
  width: 1170px;
  margin: auto;
}

.header {
  padding: 60px 0;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__menu {
  margin: 0px 63px 0px auto;
}

.header__buttons {
  display: flex;
  align-items: center;
}

.header__cart {
  margin-left: 22px;
  width: 44px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.header__cart:focus {
  background-color: rgba(255, 122, 80, 0.1);
  box-shadow: 0px 0px 0px 2px #FF7A50;
}

.header__cart:hover {
  background-color: #FF7A50;
}

.header__cart:hover path {
  stroke: #ffffff;
}

.header__cart:active {
  background-color: rgba(255, 122, 80, 0.1);
  box-shadow: none;
}

.header__cart:active path {
  stroke: #363853;
}

.menu {
  width: 301px;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__item {
  font-size: 18px;
  line-height: 21px;
  border-radius: 5px;
}

.menu__link {
  color: #31352b;
  border-radius: 5px;
}

.menu__link:focus {
  outline: 2px solid #FF7A50;
}

.menu__link:hover {
  color: #FF6838;
}

.menu__link:active {
  text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
  outline: none;
  color: #31352b;
}

.search__input {
  display: none;
}

.search__button {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: transparent;
}

.search__button:focus {
  background-color: rgba(255, 122, 80, 0.1);
  outline: 2px solid #FF7A50;
}

.search__button:hover {
  background-color: #FF7A50;
}

.search__button:hover ellipse, .search__button:hover path {
  stroke: #ffffff;
}

.search__button:active {
  background-color: rgba(255, 122, 80, 0.1);
  outline: none;
}

.search__button:active ellipse, .search__button:active path {
  stroke: #363853;
}

.button {
  display: block;
  background-color: #FF6838;
  padding: 12px 32px;
  border-radius: 6px;
  color: #ffffff;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.03em;
}

.button:hover {
  background-color: #ffffff;
  outline: 2px solid #FF7A50;
  color: #FF6838;
}

.button:focus {
  background-color: rgba(255, 122, 80, 0.1);
  outline: 2px solid #FF7A50;
  color: #FF6838;
}

.button:active {
  background-color: rgba(255, 122, 80, 0.1);
  outline: 2px solid #FF7A50;
  color: #FF6838;
}

.more-button {
  font-size: 20px;
  line-height: 150%;
  color: #363853;
  margin-left: 34px;
  border-radius: 5px;
}

.more-button:hover {
  color: #FF6838;
  outline: none;
}

.more-button:focus {
  color: #363853;
  outline: 2px solid #FF7A50;
  text-decoration: none;
}

.more-button:active {
  text-shadow: 2px 2px 5px #363853;
  outline: none;
}

.hero {
  height: calc(100vh - 164px);
}

.hero__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../images/scooter-guy.png) right center no-repeat;
  background-size: contain;
}

.hero__title {
  font-weight: 500;
  font-size: 66px;
  line-height: 130%;
  text-transform: uppercase;
  color: #363853;
  width: 450px;
  margin-bottom: 20px;
}

.hero__title span {
  color: #FF6838;
}

.hero__subtitle {
  font-size: 20px;
  line-height: 150%;
  color: #31352b;
  width: 450px;
  margin-bottom: 20px;
}

.hero__buttons {
  display: flex;
  align-items: center;
}
