body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: $dark;
    background-color: $silver-100;
}

.container {
    width: 1170px;
    margin: auto;
}

.header {
    padding: 60px 0;

    &__container {
        display: flex;
        align-items: center;
    }

    &__menu {
        margin: 0px 63px 0px auto;
    }

    &__buttons {
        display: flex;
        align-items: center;
    }

    &__cart {
        margin-left: 22px;
        width: 44px;
        height: 44px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;

        &:focus {
            background-color: $orange-100;
            box-shadow: 0px 0px 0px 2px $orange-700;
        }

        &:hover {
            background-color: $orange-700;

            path {
                stroke: $white;
            }
        }

        &:active {
            background-color: $orange-100;
            box-shadow: none;

            path {
                stroke: $darkBlue-900;
            }
        }
    }
}

.menu {
    width: 301px;

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        font-size: 18px;
        line-height: 21px;
        border-radius: 5px;
    }

    &__link {
        color: $dark;
        border-radius: 5px;

        &:focus {
            outline: 2px solid $orange-700;
        }

        &:hover {
            color: $orange-900;
            outline: none;
        }

        &:active {
            text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
            outline: none;
            color: $dark;
        }
    }
}

.search {

    &__input {
        display: none;
    }

    &__button {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background-color: transparent;

        &:focus {
            background-color: $orange-100;
            outline: 2px solid $orange-700;
        }

        &:hover {
            background-color: $orange-700;
            
            ellipse, path {
                stroke: $white;
            }
        }

        &:active {
            background-color: $orange-100;
            outline: none;

            ellipse, path {
                stroke: $darkBlue-900;
            }
        }
    }
}

.button {
    display: inline-block;
    background-color: $orange-900;
    padding: 12px 32px;
    border-radius: 6px;
    color: $white;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.03em;

    &:focus {
        background-color: $orange-100;
        outline: 2px solid $orange-700;
        color: $orange-900;
    }

    &:hover {
        background-color: $white;
        outline: 2px solid $orange-700;
        color: $orange-900;
    }

    &:active {
        background-color: $orange-100;
        outline: 2px solid $orange-700;
        color: $orange-900;
    }
}

.more-button {
    font-size: 20px;
    line-height: 150%;
    color: $darkBlue-900;
    border-radius: 5px;
    display: block;

    &:focus {
        color: $darkBlue-900;
        outline: 2px solid $orange-700;
    }

    &:hover {
        color: $orange-900;
        outline: none;
    }

    &:active {
        text-shadow: 2px 2px 5px $darkBlue-900;
        outline: none;
        color: $darkBlue-900;
    }
}

.product-card {
    width: 210px;
    min-height: 300px;
    padding: 20px 15px;
    background-color: $white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 1px solid $silver-200;

    &__image {
        margin-bottom: 10px;
    }

    &__title {
        margin-bottom: auto;
        font-size: 15px;
        line-height: 18px;
        color: $dark;
    }

    &__price {
        margin: 10px 0px 10px;
        font-weight: 500;
        color: $darkBlue-900;
        font-size: 15px;
        line-height: 140%;
    }

    &__button {
        font-size: 14px;
        line-height: 130%;
        padding: 7px 16px;
    }

    &:hover {
        border: 1px solid $orange-900;
    }
}

.restaurant-card {
    width: 370px;
    background: #FFFFFF;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;

    &__image {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    &__title {
        font-size: 24px;
        line-height: 130%;
        margin-bottom: 20px;
    }

    &__text {
        padding: 20px 15px 20px;
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__work-time {
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        padding-left: 32px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 3px;
            width: 22px;
            height: 22px;
            background-image: url('../images/work-time-icon.png');
        }
    }

    &__button {
        background-color: $orange-900;
        padding: 10px 32px 9px;
        border-radius: 20px;
        border: 2px solid $orange-900;
        transition: padding 0.3s;
        display: block;

        &:focus {
            border: 2px solid $orange-700;
            background-color: $orange-100;

            path {
                fill: $orange-900;
            }
        }

        &:hover {
            border: 2px solid $orange-700;
            background-color: $white;
            padding-right: 12px;
            padding-left: 52px;

            path {
                fill: $orange-900;
            }
        }

        &:active {
            background-color: $orange-100;
            border-color: transparent;
        }
    }

    &:hover {
        box-shadow: 0px 3px 15px rgba(255, 104, 56, 0.5);
    }
}
