@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
@import 'reset';
@import 'vars';
@import 'global';

.hero {
    height: calc(100vh - 164px);
    margin-bottom: 120px;

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: url(../images/scooter-guy.png) right center no-repeat;
        background-size: contain;
    }

    &__wrapper {
        width: 450px;
    }

    &__title {
        font-weight: 500;
        font-size: 66px;
        line-height: 130%;
        text-transform: uppercase;
        color: $darkBlue-900;
        margin-bottom: 20px;

        span {
            color: $orange-900;
        }
    }

    &__subtitle {
        font-size: 20px;
        line-height: 150%;
        color: $dark;
        margin-bottom: 20px;
    }

    &__buttons {
        display: flex;
        align-items: center;
    }

    &__more-button {
        margin-left: 34px;
    }
}

.popular {
    margin-bottom: 120px;

    &__title {
        font-weight: 500;
        font-size: 36px;
        line-height: 130%;
        color: $darkBlue-900;
        text-align: center;
        margin-bottom: 60px;
    }

    &__tabs {
        display: flex;
        align-items: center;
        margin-bottom: 45px;
    }

    &__tab {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__product-cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    &__product-card {
        margin-bottom: 30px;
    }

    &__more-button {
        background-color: transparent;
        margin: 0 auto;
    }
}

.tab {
    padding: 13px 32px;
    display: flex;
    align-items: center;
    background-color: $white;
    border-radius: 5px;
    outline: 1px solid $silver-200;
    box-sizing: border-box;
    color: $darkBlue-900;

    &__text {
        margin-left: 10px;
        font-size: 20px;
        line-height: 130%;
    }

    path {
        fill: $darkBlue-900;
    }

    &:focus {
        outline: 2px solid $orange-700;
        color: $darkBlue-900;
    }

    &:hover {
        outline: 2px solid $orange-700;
        color: $orange-900;

        path {
            fill: $orange-900;
        }
    }

    &:active {
        box-shadow: inset 0px -5px 12px rgba(255, 104, 56, 0.2);
        color: $darkBlue-900;
        outline: none;

        path {
            fill: $darkBlue-900;
        }
    }
}

.info {
    margin-bottom: 120px;

    &__container {
        width: 1030px;
        background: url('../images/food-delivery.png') 0 0 no-repeat;
        background-size: contain;
        padding: 55px 0;
    }

    &__wrapper {
        width: 470px;
        margin-left: auto;
    }

    &__title {
        font-weight: 500;
        font-size: 36px;
        line-height: 130%;
        color: $darkBlue-900;
        margin-bottom: 30px;
    }

    &__subtitle {
        font-size: 20px;
        line-height: 150%;
        margin-bottom: 30px;
    }

    &__advantages {
        margin-bottom: 30px;
    }

    &__advantage {

        &:last-child {
            margin: 0;
        }
    }
}

.advantage {
    font-size: 24px;
    line-height: 150%;
    color: $darkBlue-900;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    &__text {
        margin-left: 30px;
    }
}