@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
@import 'reset';
@import 'vars';
@import 'global';

.hero {
    height: calc(100vh - 164px);
    margin-bottom: 120px;

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: url(../images/scooter-guy.png) right center no-repeat;
        background-size: contain;
    }

    &__wrapper {
        width: 450px;
    }

    &__title {
        font-weight: 500;
        font-size: 66px;
        line-height: 130%;
        text-transform: uppercase;
        color: $darkBlue-900;
        margin-bottom: 20px;

        span {
            color: $orange-900;
        }
    }

    &__subtitle {
        font-size: 20px;
        line-height: 150%;
        color: $dark;
        margin-bottom: 20px;
    }

    &__buttons {
        display: flex;
        align-items: center;
    }

    &__more-button {
        margin-left: 34px;
    }
}

.popular {
    margin-bottom: 120px;

    &__title {
        font-weight: 500;
        font-size: 36px;
        line-height: 130%;
        color: $darkBlue-900;
        text-align: center;
        margin-bottom: 60px;
    }

    &__tabs {
        display: flex;
        align-items: center;
        margin-bottom: 45px;
    }

    &__tab {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__product-cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    &__product-card {
        margin-bottom: 30px;
    }

    &__more-button {
        background-color: transparent;
        margin: 0 auto;
    }
}

.tab {
    padding: 13px 32px;
    display: flex;
    align-items: center;
    background-color: $white;
    border-radius: 5px;
    outline: 1px solid $silver-200;
    box-sizing: border-box;
    color: $darkBlue-900;

    &__text {
        margin-left: 10px;
        font-size: 20px;
        line-height: 130%;
    }

    path {
        fill: $darkBlue-900;
    }

    &:focus {
        outline: 2px solid $orange-700;
        color: $darkBlue-900;
    }

    &:hover {
        outline: 2px solid $orange-700;
        color: $orange-900;

        path {
            fill: $orange-900;
        }
    }

    &:active {
        box-shadow: inset 0px -5px 12px rgba(255, 104, 56, 0.2);
        color: $darkBlue-900;
        outline: none;

        path {
            fill: $darkBlue-900;
        }
    }
}

.delivery {
    margin-bottom: 120px;

    &__container {
        width: 1030px;
        background: url('../images/food-delivery.png') 0 0 no-repeat;
        background-size: contain;
        padding: 55px 0;
    }

    &__wrapper {
        width: 470px;
        margin-left: auto;
    }

    &__title {
        font-weight: 500;
        font-size: 36px;
        line-height: 130%;
        color: $darkBlue-900;
        margin-bottom: 30px;
    }

    &__subtitle {
        font-size: 20px;
        line-height: 150%;
        margin-bottom: 30px;
    }

    &__advantages {
        margin-bottom: 30px;
    }

    &__advantage {

        &:last-child {
            margin: 0;
        }
    }
}

.advantage {
    font-size: 24px;
    line-height: 150%;
    color: $darkBlue-900;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    &__text {
        margin-left: 30px;
    }
}

.best-restaurants {
    margin-bottom: 120px;

    &__title {
        font-weight: 500;
        font-size: 36px;
        line-height: 130%;
        color: $darkBlue-900;
        margin-bottom: 45px;
        text-align: center;
    }

    &__restaurants {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__restaurant-card {
        margin-bottom: 30px;
    }
}

.restaurant-card {
    width: 370px;
    background: #FFFFFF;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;

    &__image {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    &__title {
        font-size: 24px;
        line-height: 130%;
        margin-bottom: 20px;
    }

    &__text {
        padding: 20px 15px 20px;
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__work-time {
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        padding-left: 32px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 3px;
            width: 22px;
            height: 22px;
            background-image: url('../images/work-time-icon.png');
        }
    }

    &__button {
        background-color: $orange-900;
        padding: 10px 32px 9px;
        border-radius: 20px;
        border: 2px solid $orange-900;
        transition: padding 0.3s;
        display: block;

        &:focus {
            border: 2px solid $orange-700;
            background-color: $orange-100;

            path {
                fill: $orange-900;
            }
        }

        &:hover {
            border: 2px solid $orange-700;
            background-color: $white;
            padding-right: 12px;
            padding-left: 52px;

            path {
                fill: $orange-900;
            }
        }

        &:active {
            background-color: $orange-100;
            border-color: transparent;
        }
    }

    &:hover {
        box-shadow: 0px 3px 15px rgba(255, 104, 56, 0.5);
    }
}

.reviews {
    margin-bottom: 120px;

    &__container {
        width: 990px;
    }

    &__title {
        font-weight: 500;
        font-size: 36px;
        line-height: 130%;
        color: $darkBlue-900;
        margin-bottom: 45px;
        text-align: center;
    }

    &__content {
        margin-bottom: 50px;
    }

    &__pagination {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 220px;
        margin: 0 auto;
    }

    &__bullets {
        display: flex;
        align-items: center;
    }

    &__bullet {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $gray;
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }

        &_active {
            background-color: $orange-900;
        }

        &:focus {
            outline: 2px solid $orange-700;
        }

        &:hover {
            outline: 2px solid $orange-700;
            background-color: $orange-100;
        }

        &:active {
            outline: none;
            background-color: $orange-700;
        }
    }

    &__button {
        width: 34px;
        height: 34px;
        border: 3px solid $gray;
        border-radius: 50%;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            margin-left: -2.5px;
        }

        &_next {
            transform: rotate(180deg);
        }

        &:focus {
            outline: 2px solid $orange-700;

            &:hover {
                outline: none;
            }
        }

        &:hover {
            background-color: $orange-100;
            border-color: $orange-700;

            path {
                fill: $orange-700;
            }
        }

        &:active {
            background-color: $orange-100;
            border: none;
            outline: none;
        
            path {
                fill: $orange-700;
            }
        }
    }
}

.review {
    display: none;
    align-items: center;

    &_active {
        display: flex;
    }

    &__image {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin-right: 80px;
    }

    &__text {
        width: 570px;
    }

    &__quote {
        font-style: italic;
        font-size: 20px;
        line-height: 150%;
        margin-bottom: 30px;
        position: relative;

        &:before {
            content: '';
            width: 24px;
            height: 20px;
            background-image: url(../images/quote.svg);
            position: absolute;
            top: 0;
            left: -40px;
        }

        &:after {
            content: '';
            width: 24px;
            height: 20px;
            background-image: url(../images/quote.svg);
            position: absolute;
            bottom: 0;
            right: -40px;
            transform: scaleX(-1);
        }
    }

    &__username {
        font-size: 20px;
        line-height: 130%;
        color: $orange-900;
        margin-bottom: 15px;
    }

    &__userstatus {
        font-size: 14px;
        line-height: 130%;
    }
}

.promo {
    margin-bottom: 120px;

    &__title {
        font-weight: 500;
        font-size: 36px;
        line-height: 130%;
        color: $darkBlue-900;
        margin-bottom: 60px;
    }

    &__cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.promo-card {
    width: 370px;
    background-color: $white;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    color: $dark;

    &__image {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    &__text {
        padding: 15px 20px;
        font-size: 24px;
        line-height: 130%;
    }

    &:focus {
        box-shadow: 0px 3px 15px rgba(255, 104, 56, 0.5);
    }

    &:hover {
        box-shadow: 0px 3px 15px rgba(255, 104, 56, 0.5);
    }
}

.catalog {
    margin-bottom: 120px;

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 60px;
    }

    &__title {
        font-weight: 500;
        font-size: 36px;
        line-height: 130%;
        color: $darkBlue-900;
        margin-right: auto;
    }

    &__filter {
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__sidebar {
        width: 271px;
    }

    &__categories {
        background-color: $white;
        border: 1px solid $silver-200;
        border-radius: 5px;
        margin-bottom: 30px;
    }

    &__side-title {
        font-size: 24px;
        line-height: 120%;
        letter-spacing: 0.03em;
        color: $darkBlue-900;
        padding: 15px;
        border-bottom: 1px solid $silver-200;
    }

    &__list {
        padding: 25px 15px;
    }

    &__link {
        font-size: 18px;
        line-height: 130%;
        letter-spacing: 0.03em;
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            color: $dark;
            border-radius: 5px;

            &:focus {
                outline: 2px solid $orange-700;
                color: $dark;
            }
        
            &:hover {
                outline: none;
                color: $orange-900;
            }
        
            &:active {
                outline: none;
                color: $dark;
                text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
            }
        }
    }

    &__offers {
        background-color: $white;
        border: 1px solid $silver-200;
        border-radius: 5px;
        margin-bottom: 30px;
    }

    &__checkboxes {
        padding: 25px 15px;
    }

    &__checkbox {
        margin-bottom: 12px;
    }

    &__price {
        background-color: $white;
        border: 1px solid $silver-200;
        border-radius: 5px;
    }

    &__price-select {
        padding: 25px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__input {
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0.03em;
        color: $gray;

        input {
            width: 70px;
            height: 40px;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0.03em;
            background-color: $orange-100;
            border: 1px solid $silver-200;
            border-radius: 3px;
            padding: 12px 2px 12px 12px;
            text-align: center;

            &:focus {
                border: 1px solid $orange-900;
            }
        }
    }

    &__product-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 870px;
    }

    &__product-card {
        margin-bottom: 10px;
    }
}

.filter {
    padding: 15px 40px 15px 15px;
    border: 1px solid $gray;
    border-radius: 3px;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/select.svg) calc(100% - 15px) center no-repeat;
    background-color: $white;

    &:focus {
        border-color: $orange-900;
    }

    &:hover {
        border-color: $orange-900;
        color: $orange-900;
    }
}